# Python virtual environment
venv/
__pycache__/
*.pyc

# Data files (keep schema/code, ignore bulk data)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environment variables / Credentials
.env
*.log
logs/

data/rejected/*
!data/rejected/.gitkeep